html {
  --app-background-color: black;
  --app-card-color: #0d1b29;
  --app-text-color: white;

  background: var(--app-background-color);
  color: var(--app-text-color);
  font-size: 16px;
}

body {
  margin: 0;
}
